<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href ="https://github.com/MdArmaan143" style="color: black;"><i class="fa-brands fa-github"></i></a>
            <a href ="https://www.instagram.com/armaan_shaikhhhhh/" style="color:#C13584"><i class="fa-brands fa-square-instagram"></i></a>
            <a href ="https://www.linkedin.com/in/armaan-shaikh-76a068248/"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand"> &copy; Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>
