<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>
<body>
    <h3>all listings</h3>
    <ul>
        <% for(let listing of allListings){ %>
            <li><a href="/listings/<%= listing._id%>"><%= listing.title %> </a></li>
        <% } %>
        
        </ul>
</body>
</html>


