<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>
<body>
    <h3>create a new listing</h3>
    <form method="POST" action="/listings">
        <input name="listing[title]" placeholder="enter title" type="text">
        <br> <br>
        <textarea name="listing[description]" placeholder="enter description" type="text"></textarea>
        <br> <br>
        <input name="listing[image]" placeholder="enter image url/link" type="text">
        <br> <br>
        <input name="listing[price]" placeholder="enter price" type="text">
        <br> <br>
       
        <input name="listing[location]" placeholder="enter location" type="text">
        <br><br>
        <input name="listing[country]" placeholder="enter country" type="text">
        <br><br>
        <button>Add</button>
    </form>
    
</body>
</html>